# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build & Dependencies
node_modules
dist
dist-ssr
*.local
*.json.log

# Temporary Audit Files
lh.json
lighthouse-report.json
playwright-results.json
coverage/
.nyc_output/

# Environment & Secrets
.env
.env*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
